/* #mantenimiento-prepago {
  padding: 10px;
} */

.pading-columna-izquierda {
  padding-left: 30px !important;
  padding-right: 25px !important;
  text-align: right;
}

.pading-columna-derecha {
  padding-left: 25px !important;
}

/* Estilos para pantallas más pequeñas (móviles) */
@media screen and (max-width:450px) {
  
}