@font-face {
  font-family: 'Toyota-Type';
  src: url('/fonts/ToyotaType-Bold.woff2') format('woff2'),
    url('/fonts/ToyotaType-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Toyota-Type';
  src: url('/fonts/ToyotaType-Semibold.woff2') format('woff2'),
    url('/fonts/ToyotaType-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
  background-color: white;
  margin: 0%;
  padding: 0%;
  font-family: 'Raleway', sans-serif;
  color: #212529;
}

.toy-red {
  color: #EA2346;
}

.toy-grey {
  background-color: #F0F0F0;
}

.toy-red-btn {
  background-color: #EB0A1E;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  /* También puedes eliminar el espacio izquierdo predeterminado */
}


.custom-dropdown-toggle::after {
  content: url("img/flecha-icon.svg");
  /* Ruta a tu imagen SVG */
  margin-left: 10px;
  /* Ajusta el espaciado según sea necesario */
}


.boton-info {
  color: #ffffff;
  border-radius: 40px !important;
  /* padding: 10px 20px !important; */
  font-size: 16px !important;
  width: 250px !important;
  padding: 16px 20px !important;
  /* position: relative !important; */
  /* top: -9px !important; */
  font-weight: 1000 !important;
}

// ############################SECCION QUIERO INFO####################################

section#quiero-info {
  .qui-inf-gen {
    height: 436px;

    div#qui-inf-div-1 {

      width: 731px;
      margin-left: auto;
      margin-right: auto;

      h1 {
        font-family: 'Toyota-Type';
        font-weight: 700;
        font-size: 38px;
        line-height: 54.19px;
        text-align: center;
        padding-top: 80px;
      }
    }

    div#qui-inf-div-2 {

      width: 730px;
      margin-left: auto;
      margin-right: auto;

      p {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
        text-align: center;
      }
    }

    div#qui-inf-div-btn-cont {

      div#qui-inf-div-btn {
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 254px;
        height: 60px;
        border-radius: 30px;
        gap: 10px;
        padding: 15px 40px 15px 40px;

        a:link, a:visited,{
          font-family: 'Raleway';
          font-weight: 900;
          font-size: 14px;
          line-height: 16.44px;
          text-align: center;
          text-decoration: none;
          color: white;

          img{
            width: 30px;
            height: 30px;
          }

        }

        a:hover{
          color: white;
        }

      }

    }

  }

}

// ####################################SECCION MANTENIMIENTO PREPAGO##############################################

section#mantenimiento-prepago {
  padding-top: 78px;
  padding-bottom: 65px;

  .man-pre-cont-gen {
    display: flex;
    justify-content: center;
    align-items: center;

    .mant-pre {
      gap: 30px;
      flex-wrap: nowrap;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .man-pre-col {
        max-width: 540px;

        .man-pre-img-con {
          padding-left: 15px;
          padding-right: 15px;

          .man-pre-img {
            width: 540px;
            height: 526px;
            border-radius: 15px;
            float: right;
          }
        }

        .man-pre-t1-t2 {
          line-height: 34.22px;
          font-family: 'Toyota-Type';
          font-weight: 700;
          font-size: 24px;
          margin-bottom: 20px;
        }

        .man-pre-parr {
          line-height: 27.2px;
          font-family: Raleway;
          font-weight: 400;
          font-size: 16px;

          .man-pre-parr-red {
            line-height: 27.2px;
            font-family: Raleway;
            font-weight: 800;
            font-size: 16px;
          }

        }

      }

    }

  }

}

// ############################################################SECCION PLAN MANTENIMIENTO##############################################################



// ################################################################SECCION BENEFICIOS#################################################################

section#beneficios {
  .fondo {
    background-color: #d7dcd5;
  }

  .pading-top {
    padding-top: 60px;
  }

  .margen-abajo {
    margin-bottom: 60px;
  }

  .container-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 0px; */
    width: 79%;
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border: 1px solid white;
    margin-right: 17px;
    margin-left: 17px;
    /* Espaciado entre las tarjetas */
    border-radius: 10px !important;
    margin-bottom: 76px;
  }

  .tamanho-imagen {
    width: 125px;
  }

  .estilo-imagen {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 35px;
  }

}

// ################################################################SECCION PREGUNTAS FRECUENTES##################################################################

section#preguntas_frecuentes {

  &.espacios-container {
    padding-top: 66px;
  }

  /* Estilo para el acordeón */
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }

  .accordion.active,
  .accordion:hover {
    background-color: #ddd;
  }

  .accordion:after {
    content: "\02795";
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }

  .accordion.active:after {
    content: "\2796";
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
  }

  .panel.show {
    opacity: 1;
    max-height: 500px;
    /* Cambia esto según sea necesario */
  }

}

// MEDIO QUERYS########################################################################################################

// 1440#######################################################################################################################

@media screen and (max-width:1440px) {}

// 1366########################################################################################################################3

@media screen and (max-width: 1366px) {

  // SECCION BENEFICIOS 1366################################################################################################

  section#beneficios {
    .card {
      flex: 1;
      background-color: #fff;
      padding: 20px;
      border: 1px solid white;
      margin-right: 10px;
      margin-left: 17px;
      /* Espaciado entre las tarjetas */
      border-radius: 10px !important;
      margin-bottom: 76px;
    }

    .container-tarjetas {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      /* Espaciado interno entre las columnas */
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }

}

// 450##################################################################################################################

@media screen and (max-width: 450px) {

  #relleno {
    display: none;
  }

  #imagen-header-img {
    content: url('./img/persona_arreglando_auto_.png');
  }

  .espacio-abajo-movile {
    margin-bottom: 20px;
  }

  .espacio-abajo-3-movile {
    margin-bottom: 35px;
  }

  // SECCION BENEFICIOS 450###############################################################################################

  section#beneficios {

    .container-tarjetas {
      flex-direction: column;
      /* Cambiamos la dirección de flex a columna */
    }

    .card {
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 20px;
    }

    .card-movile {
      flex-direction: unset;
      width: 100%;
    }

  }

  // SECCION PLAN MANTENIMINETO 450###########################################################################################3

  section#plan_mantenimiento {
    .texto-centrado {
      text-align: center;
    }

    .pading-columna-1 {
      padding-right: 0%;
    }

    .flotar-derecha {
      float: none;
    }

    .ancho-columna-1 {
      width: 100%;
    }

    .imagen-columna-1 {
      border-radius: 20px;
      width: 100%;
    }
  }

  // SECCION MANTENIMIETO PREPAGO 450#########################################################################################

  section#mantenimiento-prepago {
    .pading-columna-izquierda {
      padding: 0% !important;
      text-align: center;
    }

    .pading-columna-derecha {
      padding-left: 0% !important;
    }

    .img-movil {
      margin-top: -83px;
    }

    .espacio-movil {
      margin-bottom: 40px;
    }

    .espacio-titulo-movile {
      margin-bottom: 15px;
    }

    .espacio-adelantada {
      margin-bottom: 45px;
    }

    .titulos-movile {
      font-size: 20px !important;
    }
  }

  // SECCION QUIERO INFO 450#####################################################################################################

  section#quiero_info {
    #quiero_info-mantenimiento-prepago {
      font-size: 34px;
    }

    .cosas-generales {
      text-align: center;
      display: block;
      padding-left: 8px;
      padding-right: 8px;
    }

    .titulo-mantenimiento-movile {
      font-size: 31px !important;
    }
  }

}