@font-face {
    font-family: 'Toyota Type';
    src: url('fonts/ToyotaType-Bold.woff2') format('woff2'),
        url('fonts/ToyotaType-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Toyota Type';
    src: url('fonts/ToyotaType-Semibold.woff2') format('woff2'),
        url('fonts/ToyotaType-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body{
    background-color: white;
    margin: 0%;
    padding: 0%;
}

.contenedor-global{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}