@font-face {
  font-family: 'Toyota-Type';
  src: url('/fonts/ToyotaType-Bold.woff2') format('woff2'),
    url('/fonts/ToyotaType-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Toyota-Type';
  src: url('/fonts/ToyotaType-Semibold.woff2') format('woff2'),
    url('/fonts/ToyotaType-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

$Toyota-Type: 'Toyota-Type';

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

$Raleway: 'Raleway';

body {
  background-color: white;
  margin: 0%;
  padding: 0%;
  font-family: 'Raleway', sans-serif;
  color: #212529;
}

$toy-black: #212529;

$toyota-type: 'Toyota-Type';
$raleway: 'Raleway';

.toy-red {
  color: #EA2346;
}

$toy-red: #EA2346;

.toy-grey {
  background-color: #F0F0F0;
}

$toy-grey: #F0F0F0;

.toy-red-btn {
  background-color: #EB0A1E;
}

$toy-red-btn: #EB0A1E;

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  /* También puedes eliminar el espacio izquierdo predeterminado */
}


.custom-dropdown-toggle::after {
  content: url("img/flecha-icon.svg");
  /* Ruta a tu imagen SVG */
  margin-left: 10px;
  /* Ajusta el espaciado según sea necesario */
}


.boton-info {
  color: #ffffff;
  border-radius: 40px !important;
  /* padding: 10px 20px !important; */
  font-size: 16px !important;
  width: 250px !important;
  padding: 16px 20px !important;
  /* position: relative !important; */
  /* top: -9px !important; */
  font-weight: 1000 !important;
}

// ############################SECCION QUIERO INFO####################################

section#quiero-info {
  .qui-inf-gen {
    height: 436px;

    div#qui-inf-div-1 {

      width: 731px;
      margin-left: auto;
      margin-right: auto;

      h1 {
        font-family: 'Toyota-Type';
        font-weight: 700;
        font-size: 38px;
        line-height: 54.19px;
        text-align: center;
        padding-top: 80px;
      }
    }

    div#qui-inf-div-2 {

      width: 730px;
      margin-left: auto;
      margin-right: auto;

      p {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
        text-align: center;
      }
    }

    div#qui-inf-div-btn-cont {

      div#qui-inf-div-btn {
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 254px;
        height: 60px;
        border-radius: 30px;
        gap: 10px;
        padding: 15px 40px 15px 40px;

        a:link,
        a:visited,
        {
        font-family: 'Raleway';
        font-weight: 900;
        font-size: 14px;
        line-height: 16.44px;
        text-align: center;
        text-decoration: none;
        color: white;

        img {
          width: 30px;
          height: 30px;
        }

      }

      a:hover {
        color: white;
      }

    }

  }

}

}

// ####################################SECCION MANTENIMIENTO PREPAGO##############################################

section#mantenimiento-prepago {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  .man-pre-cont-gen {
    display: flex;
    justify-content: center;
    align-items: center;

    .mant-pre {
      gap: 30px;
      flex-wrap: nowrap;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .man-pre-col {
        max-width: 540px;

        .man-pre-img-con {
          padding-left: 15px;
          padding-right: 15px;
          width: 540px;
          height: 526px;
          gap: 10px;

          .man-pre-img {
            width: 510px;
            height: 526px;
            border-radius: 15px;
            float: right;
          }
        }

        .man-pre-t1-t2 {
          line-height: 34.22px;
          font-family: 'Toyota-Type';
          font-weight: 700;
          font-size: 24px;
          margin-bottom: 20px;
        }

        .man-pre-parr {
          line-height: 27.2px;
          font-family: Raleway;
          font-weight: 400;
          font-size: 16px;

          .man-pre-parr-red {
            line-height: 27.2px;
            font-family: Raleway;
            font-weight: 800;
            font-size: 16px;
          }

        }

      }

    }

  }

}

// ############################################################SECCION PLAN MANTENIMIENTO##############################################################

section#plan-mantenimiento {
  padding-bottom: 100px;

  div#pla-man-t1 {
    width: 730px;
    margin-left: auto;
    margin-right: auto;

    h3 {
      font-family: 'Toyota-Type';
      font-weight: 700;
      font-size: 30px;
      line-height: 42.78px;
      text-align: center;
      padding-top: 80px;
      margin-bottom: 60px;
    }

  }

  div {
    &.pla-man-col-cont {
      display: flex;
      flex-wrap: nowrap;
      gap: 31px;
      margin-left: -40px;

      .pla-man-col {
        width: 50%;
        padding: 0px;

        p {
          &.pla-man-c1-tex {
            width: 445px;
            float: right;
            font-family: 'Raleway';
            font-weight: 400;
            font-size: 16px;
            line-height: 27.2px;
            // margin-top: 20px;
          }

        }

        div {
          text-align: right;

          img {
            width: 444px;
            height: 462px;
            border-radius: 15px !important;
            /* padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 6px;
            padding-right: 7px; */
            padding: 0px;
          }
        }

        div#plan-man-col2 {
          div#plan-man-col2-cont-2 {
            width: 445px;
            height: 382px;
            border-radius: 15px;
            border: 1px;
            padding: 20px 30px 20px 30px;
            gap: 15px;
            background-color: white;

            h3 {
              width: 355px;
              height: 27px;
              font-family: 'Toyota-Type';
              font-weight: 600;
              font-size: 18px;
              line-height: 27px;
              text-align: center;
            }

            div#list-ul {
              text-align: left;

              // margin-bottom: 20px;
              ul {
                width: 362px;
                height: 300px;
                border: 1px 0px 0px 0px;

                li {
                  width: 362px;
                  height: 60px;
                  border: 1px 0px 0px 0px;
                  padding: 10px;
                  gap: 10px;

                  img {
                    width: 40px;
                    height: 40px;
                  }
                }
              }
            }


          }

          div#modelos-suman-cont {

            div#modelos-suman {
              h3 {
                text-align: left;
              }

              width: 445px;
              height: 192px;
              border-radius: 15px;
              border: 1px;
              padding: 20px 30px 20px 30px;
              gap: 15px;
              background-color: white;
              margin-left: -30px;
              margin-top: 40px;
              background-color: white;
              text-align: left;

              ul {
                width: 385px;
                height: 110px;
                border: 1px 0px 0px 0px;

                li {
                  width: 385px;
                  height: 50px;
                  border: 1px 0px 0px 0px;
                  padding: 10px;
                  gap: 10px;

                  img {
                    width: 25px;
                    height: 30px;
                  }
                }
              }
            }
          }
        }

      }
    }
  }


}


// ################################################################SECCION BENEFICIOS#################################################################

section#seccion-beneficios {
  background-color: #d7dcd5;
  width: auto;
  height: 723px;

  h3 {
    width: 730px;
    height: 43px;
    font-family: 'Toyota-Type';
    font-weight: 700;
    font-size: 30px;
    line-height: 42.78px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 90px;
    /*  padding-bottom: 80px; */
  }

  div#tabla-columnas {
    width: auto;
    // background-color: aquamarine;
    height: auto;
    padding-top: 104px;

    div#cont-columna {
      display: flex;
      flex-wrap: wrap;
      margin-right: auto;
      margin-left: auto;
      width: 1110px;

      .columnas {
        box-sizing: border-box;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 255px;
        height: 400px;
        border-radius: 10px;
        padding: 30px 15px 30px 15px;
        gap: 26px;
      }

      .img-col {
        width: 166px;
        height: auto;
        border-radius: 65px;
        padding: 30px;
        gap: 10px;
        margin-top: -30px;
      }

      .tex-columnas {
        width: 225px;
        height: 60px;
        font-family: 'Toyota-Type';
        font-weight: 600;
        font-size: 21px;
        line-height: 29.95px;
        text-align: center;
      }

      .tex-columnas {
        width: 225px;
        height: 60px;
        font-family: 'Toyota-Type';
        font-weight: 600;
        font-size: 21px;
        line-height: 29.95px;
        text-align: center;
      }

      .text1-columnas {
        width: 225px;
        height: 81px;
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 16px;
        line-height: 27.2px;
        text-align: center;
        margin-top: 26px;
      }

      .text1-columnas-1 {
        width: 225px;
        height: 81px;
        font-family: "Raleway";
        font-weight: 400;
        font-size: 16px;
        line-height: 27.2px;
        text-align: center;
        margin-top: -18px;
      }
    }
  }
}

// SECCION PREGUNTAS FRECUENTES ######################################################################################

section#pregunta-frecuente {

  $bg: #fff;
  $text: #7288a2;
  $gray: #4d5974;
  $lightgray: #e5e5e5;
  $blue: #03b5d2;

  width: auto;
  height: 1514px;

  h3 {
    width: 588px;
    height: 57px;
    font-family: 'Toyota-Type';
    font-weight: 700;
    font-size: 40px;
    line-height: 57.04px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
  }

  div#cont-acordeon {
    width: 730px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
  }

  .accordion-flush .accordion-item .accordion-button,
  .accordion-flush .accordion-item .accordion-button.collapsed {
    border-radius: 0;
    background-color: $toy-grey;
    font-family: $Toyota-Type;
    color: $toy-black;
  }

  .accordion-body {
    padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
    background-color: $toy-grey;
    font-family: $raleway;
  }

  .accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

}